body>footer .field--name-field-visible-title,
body>footer nav>h2 {
    color: #d7d7d7;
    font-family: 'opensans-bold';
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 20px;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
    text-transform: uppercase;
}

body>footer .field--name-field-visible-title:after,
body>footer nav>h2:after {
    background: #d7d7d7;
    content: "";
    display: block;
    height: 2px;
    width: 38px;
    position: absolute;
    left: 0;
    bottom: 18px;
}

@media only screen and (max-width:980px) {

    body>footer .field--name-field-visible-title:after,
    body>footer nav>h2:after {
        width: 90%;
    }
}

@media only screen and (max-width:480px) {

    body>footer .field--name-field-visible-title:after,
    body>footer nav>h2:after {
        width: 100%;
    }
}

body>footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 55px 20px 0;
    margin: 0;
    position: relative;
    z-index: 100;
    top: -1px;
}

body>footer .field--name-field-visible-title::before {
    display: none;
}

body>footer .block-custom-wrapper {
    background: transparent;
    padding: 0;
    margin: 0;
}

body>footer nav ul.menu.nav {
    margin: 0;
    padding: 0;
}

body>footer nav ul.menu.nav li {
    font-size: 16px;
    font-size: 1.6rem;
}

body>footer nav ul.menu.nav li a {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    display: inline-block;
    padding: 0 0 15px 20px;
    position: relative;
}

body>footer nav ul.menu.nav li a:before {
    -webkit-transition: all 0.6s ease-in-out 0s;
    -khtml-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    font-size: 50px;
    font-size: 5rem;
    content: '\6a';
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    top: -2px;
    left: -22px;
    line-height: 22px;
}

body>footer nav ul.menu.nav li a:after {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 14px;
    left: 0;
    margin: 0 0 0 18px;
    max-width: calc(100% - 18px);
}

body>footer nav ul.menu.nav li a:hover,
body>footer nav ul.menu.nav li a.is-active {
    background: none;
}

body>footer nav ul.menu.nav li a:hover:before,
body>footer nav ul.menu.nav li a.is-active:before {
    left: -12px;
}

body>footer nav ul.menu.nav li a:hover:after,
body>footer nav ul.menu.nav li a.is-active:after {
    width: 100%;
}

body>footer section[id*="copyright"] {
    margin: auto;
    padding: 80px 0 0;
    text-align: center;
    width: auto;
}

body>footer section[id*="copyright"] h2.block-title {
    display: none;
}

body>footer section a {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

body>footer section a:hover,
body>footer section a:focus {
    text-decoration: none;
}

body>footer .logo {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

body>footer .logo img {
    height: 80px;
    width: auto;
}

@media only screen and (max-width:980px) {
    body>footer .region-footer {
        padding: 20px;
    }

    body>footer .region-footer section[id*='copyright'] {
        padding: 0;
    }

    body>footer .region-footer .logo {
        right: 20px;
    }

    body>footer .region-footer .logo img {
        height: 55px;
    }
}

@media only screen and (max-width:767px) {
    .cern-footer {
        padding: 15px 0 0;
    }

    .cern-footer .footer-first-col:after {
        content: unset !important;
    }
}

.cern-footer {
    margin: auto;
    max-width: 1140px;
    width: 100%;
}

.cern-footer .block-custom-wrapper {
    margin-bottom: 4rem;
}

.cern-footer ul {
    padding: 0;
    list-style: none;
}

.cern-footer .footer-first-col {
    padding-right: 40px;
}

.cern-footer .footer-first-col:after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 30px;
    background: rgba(255, 255, 255, 0.2);
}

.cern-footer nav {
    width: 100%;
}

.cern-footer nav ul.menu.nav li a:before {
    line-height: 26px;
    left: -17px;
    font-size: 4rem;
}

.cern-footer nav ul.menu.nav li a:hover:before {
    left: -10px;
}

.cern-footer h2,
.cern-footer .block-custom-wrapper .field--name-field-visible-title {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 0rem 0 2.5rem 0;
    font-size: 18px;
    padding: 0;
}

.cern-footer h2:after,
.cern-footer .block-custom-wrapper .field--name-field-visible-title:after {
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: -8px;
    position: absolute;
    display: block;
}

.cern-footer a {}

.cern-footer a.cern-icon-large {
    padding: 0 0 15px 26px;
}

.cern-footer a.cern-newsletter:before {
    content: attr(data-icon);
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    top: 0px;
    left: -10px;
    line-height: 22px;
    font-size: 4rem;
}

.cern-footer .contextual a {
    color: #000 !important;
}

.copy-wrapper {
    font-size: 13px;
    font-size: 1.3rem;
    font-family: 'sourcesans-light';
    text-align: center;
    width: 100%;
    line-height: 50px;
    margin: 0;
}

body header .header-wrapper,
body header {
    clear: both;
}

body header .header-wrapper:before,
body header:before,
body header .header-wrapper:after,
body header:after {
    content: "";
    display: table;
}

body header .header-wrapper:after,
body header:after {
    clear: both;
}

body.not-enougth-scroll header {
    -webkit-transition: all 0.3s ease-in-out 0.4s;
    -khtml-transition: all 0.3s ease-in-out 0.4s;
    -moz-transition: all 0.3s ease-in-out 0.4s;
    -ms-transition: all 0.3s ease-in-out 0.4s;
    -o-transition: all 0.3s ease-in-out 0.4s;
    transition: all 0.3s ease-in-out 0.4s;
}

body.has-header:not(.sticky-header) header .site-info__text__name a {
    text-shadow: 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black, 0 0 0.8px black;
}

body.has-header:not(.sticky-header) header .site-nav .nav>li>a {
    text-shadow: 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black, 0 0 0.8px black;
}

body.has-header:not(.sticky-header) header .site-nav .language-switcher-language-url a {
    text-shadow: 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black, 0 0 0.8px black;
}

body header {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    z-index: 300;
}

body header .header-wrapper {
    margin: auto;
    min-height: 70px;
    padding: 20px 5% 15px;
}

body header .site-info {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

header .site-info__text img {
    height: 58pt;
}

body header .site-info__logo {
    padding: 0 10px 0 0;
}

body header .site-info__logo img {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
    height: auto;
    max-height: 76px;
}

body header .site-info__text {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 1;
    min-height: 100%;
}

body header .site-info__text__name {
    font-size: 20px;
    font-size: 2rem;
    font-family: "sourcesans-semibold";
    width: 100%;
    text-overflow: clip;
    margin-bottom: 10px;
}

body header .site-info__text__slogan {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "sourcesans-regular";
    max-width: 100%;
}

body header .site-info+.site-nav nav {
    float: right;
}

body header .nav>li {
    margin: 0 15px;
}

body header .nav>li>a {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "opensans-bold";
    padding: 0;
    line-height: 76px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

body header .nav>li>a:after {
    -webkit-transition: width 0.3s ease-in-out 0s;
    -khtml-transition: width 0.3s ease-in-out 0s;
    -moz-transition: width 0.3s ease-in-out 0s;
    -ms-transition: width 0.3s ease-in-out 0s;
    -o-transition: width 0.3s ease-in-out 0s;
    transition: width 0.3s ease-in-out 0s;
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 19px;
    left: 0;
}

body header .nav>li>a:hover {
    background: transparent;
}

body header .nav>li>a:hover:after {
    width: 100%;
}

body header .nav>li>a:focus {
    background: transparent;
}

body header .nav>li>a .caret {
    position: absolute;
    right: -20px;
    top: 49%;
}

body header .nav>li:first-child {
    margin: 0 15px 0 0;
}

body header .dropdown-menu {
    padding: 18px 0 0;
}

body header .dropdown-menu:before {
    content: "";
    width: 0px;
    height: 0px;
    background: transparent;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: -24px;
    left: 10px;
}

body header .dropdown-menu>li {
    padding: 0 15px 0 10px;
}

body header .dropdown-menu>li>a {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    display: inline-block;
    padding: 0 0 15px 20px;
    position: relative;
}

body header .dropdown-menu>li>a:before {
    -webkit-transition: all 0.6s ease-in-out 0s;
    -khtml-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    font-size: 40px;
    font-size: 4rem;
    content: "j";
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    top: -2px;
    left: -15px;
    line-height: 22px;
}

body header .dropdown-menu>li>a:after {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 13px;
    left: 0;
    margin: 0 0 0 18px;
    max-width: calc(100% - 18px);
}

body header .dropdown-menu>li>a:hover {
    background: none;
}

body header .dropdown-menu>li>a:hover:before {
    left: -8px;
}

body header .dropdown-menu>li>a:hover:after {
    width: 100%;
}

nav.main-menu a.is-active::after,
nav.main-menu a:hover::after {
    width: 100%;
}

nav.main-menu a.is-active::before,
nav.main-menu a:hover::before {
    left: -15px;
}

nav.main-menu .dropdown-menu>li>a {
    min-height: 36px;
}

.site-nav.has-search nav.main-menu li.search-item {
    display: block;
}

nav.main-menu li.search-item {
    display: none;
}

nav.main-menu li a.search-link {
    padding-left: 25px;
    position: relative;
}

nav.main-menu li a.search-link:before {
    font-size: 40px;
    font-size: 4rem;
    content: "O";
    display: inline-block;
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    left: -3px;
    position: absolute;
    top: calc(50% - 12px);
    line-height: 24px;
    width: 23px;
    text-indent: -8px;
}

nav.main-menu.has-search li.search-item {
    display: block;
}

.path-search nav.main-menu li a.search-link:after {
    width: 100%;
}

.has-header header.menu-expanded {
    background: #343a40;
    z-index: 600;
}

.has-header header {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 300;
}

.has-header main {
    position: relative;
    z-index: 200;
}

.has-header .tabs {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 10;
    background: transparent;
}

body.has-header.toolbar-fixed main nav.tabs {
    top: calc(100vh - 64px);
}

body.has-header.toolbar-fixed.toolbar-vertical main nav.tabs {
    top: calc(100vh - 64px);
}

body.has-header.toolbar-fixed:not(.toolbar-vertical).toolbar-tray-open main nav.tabs {
    top: calc(100vh - 103px);
}

body.has-header.cern-toolbar main nav.tabs {
    top: calc(100vh - 40px);
}

@media only screen and (max-width:767px) {
    body.has-header.cern-toolbar.toolbar-vertical .cern-component-header-blocks.component-header {
        height: calc(100vh - 104px);
    }
}

body.has-header.cern-toolbar.toolbar-fixed main nav.tabs {
    top: calc(100vh - 104px);
}

body.has-header.cern-toolbar.toolbar-fixed.toolbar-vertical main nav.tabs {
    top: calc(100vh - 104px);
}

body.has-header.cern-toolbar:not(.toolbar-vertical).toolbar-tray-open main nav.tabs {
    top: calc(100vh - 143px);
}

@media only screen and (max-width:1160px) {
    header>nav {
        margin: 0 3% 0 0;
        padding: 10px 0 0;
    }

    header .site-info__logo img {
        position: relative;
        left: -30px;
    }
}

@media only screen and (max-width:1024px) {
    header .site-info__text__name {
        text-overflow: ellipsis;
    }

    header .site-info__text__slogan {
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width:1023px) {
    header .header-wrapper>nav {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -khtml-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        float: none;
        width: 100%;
        z-index: 1;
    }

    header .header-wrapper>nav .navbar-nav {
        margin: 25px 0 0;
        float: right;
        width: 100%;
    }
}

@media only screen and (max-width:991px) {
    header .site-info__logo {
        float: left;
    }

    header .site-info__logo img {
        position: relative;
        left: auto;
        right: auto;
        margin: auto;
    }
}

@media only screen and (max-width:767px) {
    header .header-wrapper>nav {
        width: 100%;
    }

    header .header-wrapper>nav .navbar-nav {
        float: none;
        margin: 5px 0;
        width: 100%;
    }

    header .header-wrapper .navbar {
        width: 100%;
    }

    header .header-wrapper .navbar-collapse.collapse.in,
    header .header-wrapper .navbar-collapse.collapsing {
        padding: 0 3%;
    }

    header .dropdown-menu {
        padding: 0;
    }

    header .dropdown-menu::before {
        display: none;
    }

    header .dropdown-menu>li>a::before {
        top: 4px;
    }

    header .site-info {
        width: 80%;
        z-index: 1;
        float: left;
        min-height: 60px !important;
    }

    header .site-info__logo {
        float: left;
    }

    header .site-info__logo img {
        max-height: 60px;
        max-width: initial;
    }

    header .site-info__text {
        float: left;
        width: 100%;
    }

    header .site-info__text__name {
        font-size: 16px;
        font-size: 1.6rem;
        text-overflow: ellipsis;
    }

    header .site-info__text__slogan {
        display: none;
    }

    header .site-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 0;
        height: 100%;
    }

    header .site-nav>.region-header {
        height: 100%;
    }

    header .site-nav>.region-header>nav {
        height: 100%;
    }

    header .site-nav>.region-header>nav>.navbar {
        height: 100%;
    }

    header .site-nav>.region-header>nav>.navbar>.container-fluid {
        height: 100%;
    }

    header .site-nav>.region-header>nav>.navbar>.container-fluid>.navbar-header {
        height: 100%;
    }

    header .site-info+.site-nav nav {
        float: none;
    }
}

@media only screen and (max-width:640px) {
    header .site-info__text {
        width: 90%;
        max-height: 60px;
    }

    header .site-info__text img {
        height: 60px;
    }
}

@media only screen and (max-width:360px) {
    header .site-info__text {
        width: 80%;
    }
}

header .navbar-default {
    background: none;
    border: 0;
}

header .navbar-default .navbar-toggle:hover,
header .navbar-default .navbar-toggle:focus,
header .navbar-default .navbar-toggle {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    background: none;
    border: 0;
    margin: 0;
    position: relative;
    top: 30%;
}

header .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

header .navbar-default .navbar-nav>.open>a,
header .navbar-default .navbar-nav>.open>a:hover,
header .navbar-default .navbar-nav>.open>a:focus {
    background: transparent;
}

header .navbar {
    min-height: 10px;
    margin-bottom: 0;
}

header .navbar-collapse.collapse.in,
header .navbar-collapse.collapsing {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    padding: 0 10px 0 35px;
    width: 100%;
    position: absolute;
    border-color: #191919;
}

header .navbar-collapse.collapse.in .nav>li:first-child,
header .navbar-collapse.collapse.in .nav>li,
header .navbar-collapse.collapsing .nav>li:first-child,
header .navbar-collapse.collapsing .nav>li {
    margin: 0;
}

header .navbar-collapse.collapse.in .nav>li:first-child a,
header .navbar-collapse.collapse.in .nav>li a,
header .navbar-collapse.collapsing .nav>li:first-child a,
header .navbar-collapse.collapsing .nav>li a {
    display: inline;
    line-height: 35px;
}

header .navbar-collapse.collapse.in .nav>li:first-child a::after,
header .navbar-collapse.collapse.in .nav>li a::after,
header .navbar-collapse.collapsing .nav>li:first-child a::after,
header .navbar-collapse.collapsing .nav>li a::after {
    bottom: -3px;
}

header .navbar-default.main-menu .navbar-toggle {
    padding: 0;
    top: 43px;
}

header nav[id*=main-menu] .navbar-collapse.collapse.in .dropdown-menu::before,
header nav[id*=main-menu] .navbar-collapse.collapsing .dropdown-menu::before {
    display: none;
}

header nav[id*=main-menu] .navbar-collapse.collapse.in .dropdown-menu>li>a,
header nav[id*=main-menu] .navbar-collapse.collapsing .dropdown-menu>li>a {
    padding: 0 0 0 18px;
}

header nav[id*=main-menu] .navbar-collapse.collapse.in .dropdown-menu>li>a::before,
header nav[id*=main-menu] .navbar-collapse.collapsing .dropdown-menu>li>a::before {
    line-height: 20px;
    width: 8px;
    text-indent: -22px;
    left: -5px;
    top: 0;
}

header nav[id*=main-menu] .navbar-collapse.collapse.in .dropdown-menu>li>a.is-active::before,
header nav[id*=main-menu] .navbar-collapse.collapse.in .dropdown-menu>li>a:hover::before,
header nav[id*=main-menu] .navbar-collapse.collapsing .dropdown-menu>li>a.is-active::before,
header nav[id*=main-menu] .navbar-collapse.collapsing .dropdown-menu>li>a:hover::before {
    left: 5px;
}

.open-cern-menu.nosticky-header,
.sticky-header {}

.open-cern-menu.nosticky-header header,
.sticky-header header {
    position: fixed !important;
    width: 100%;
    z-index: 300;
    top: 0;
}

.open-cern-menu.nosticky-header.toolbar-fixed header,
.sticky-header.toolbar-fixed header {
    top: 39px;
    margin-top: 0 !important;
}

.open-cern-menu.nosticky-header.toolbar-fixed.toolbar-tray-open header,
.sticky-header.toolbar-fixed.toolbar-tray-open header {
    top: 78px;
}

.open-cern-menu.nosticky-header.toolbar-fixed.toolbar-tray-open.toolbar-vertical header,
.sticky-header.toolbar-fixed.toolbar-tray-open.toolbar-vertical header {
    top: 39px;
}

.sticky-header:not(.open-cern-menu) header .header-wrapper {
    padding: 10px 5%;
}

.sticky-header:not(.open-cern-menu) header .site-info__logo {
    max-width: 25%;
    width: auto;
}

.sticky-header:not(.open-cern-menu) header .site-info__logo img {
    max-height: 50px;
}

.sticky-header:not(.open-cern-menu) header .site-info__text__slogan {
    display: none;
}

.sticky-header:not(.open-cern-menu) header .nav>li>a {
    line-height: 56px;
}

.sticky-header:not(.open-cern-menu) header .nav>li>a:after {
    bottom: 9px;
}

.sticky-header:not(.open-cern-menu) header .navbar-default .navbar-toggle:hover,
.sticky-header:not(.open-cern-menu) header .navbar-default .navbar-toggle:focus,
.sticky-header:not(.open-cern-menu) header .navbar-default .navbar-toggle {
    top: 20%;
}

.sticky-header:not(.open-cern-menu) header .navbar-default.main-menu .navbar-toggle {
    top: 43px;
}

@media only screen and (max-width:610px) {
    .sticky-header.toolbar-vertical header {
        top: 39px;
    }
}

.sticky-header.no-admin-toolbar header {
    top: 0 !important;
}

nav.tabs .tabs--primary {
    font-size: 14px;
    font-size: 1.4rem;
}

header .header-wrapper .main-menu .navbar-collapse.collapse.in,
header .header-wrapper .main-menu .navbar-collapse.collapsing {
    height: calc(100vh - 70px);
}

.toolbar-fixed header .header-wrapper .main-menu .navbar-collapse.collapse.in,
.toolbar-fixed header .header-wrapper .main-menu .navbar-collapse.collapsing,
.toolbar-fixed.toolbar-tray-open header .header-wrapper .main-menu .navbar-collapse.collapse.in,
.toolbar-fixed.toolbar-tray-open header .header-wrapper .main-menu .navbar-collapse.collapsing,
.toolbar-fixed.toolbar-tray-open.toolbar-vertical header .header-wrapper .main-menu .navbar-collapse.collapse.in,
.toolbar-fixed.toolbar-tray-open.toolbar-vertical header .header-wrapper .main-menu .navbar-collapse.collapsing,
.toolbar-vertical header .header-wrapper .main-menu .navbar-collapse.collapse.in,
.toolbar-vertical header .header-wrapper .main-menu .navbar-collapse.collapsing {
    height: calc(100vh - 110px);
}

header .navbar-default .navbar-toggle,
header .navbar-default .navbar-toggle:hover,
header .navbar-default .navbar-toggle:focus,
header .navbar-default .navbar-toggle:active,
header .navbar-collapse.collapse.in {
    -webkit-transition: all 0s ease-in-out 0s;
    -khtml-transition: all 0s ease-in-out 0s;
    -moz-transition: all 0s ease-in-out 0s;
    -ms-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
}

header .site-info {
    min-height: 76px;
}

header.menu-expanded .site-info {
    min-height: 60px;
}

.sticky-header header .site-info {
    min-height: 50px;
}

.pagination-container.centered {
    text-align: center;
}

.pagination>li a,
.pagination>li span {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "sourcesans-regular";
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

.pagination>li a:hover,
.pagination>li a:focus,
.pagination>li span:hover,
.pagination>li span:focus {
    background: none;
}

.pagination>li a::before {
    content: ".";
    padding: 0 5px;
    display: block;
    float: left;
    top: -5px;
    left: -2px;
    position: relative;
}

.pagination>li a.page-number-1::before {
    display: none;
}

.pagination>li a.page__item--ellipsis.first::before {
    display: none;
}

.pagination>.active>a {
    background: none;
    color: #cacaca;
}

.pagination>.active>a:hover,
.pagination>.active>a:focus {
    background: none;
    color: #cacaca;
}

.pagination .page-item {
    display: inline-block;
}

.pagination .page__item--first,
.pagination .page__item--last,
.pagination .page__item--previous,
.pagination .page__item--next {
    position: relative;
    width: 20px;
    height: 28px;
}

.pagination .page__item--first a,
.pagination .page__item--last a,
.pagination .page__item--previous a,
.pagination .page__item--next a {
    display: block;
    position: relative;
    width: 30px;
    height: 28px;
}

.pagination .page__item--first a::before,
.pagination .page__item--last a::before,
.pagination .page__item--previous a::before,
.pagination .page__item--next a::before {
    display: none;
}

.pagination .page__item--first span,
.pagination .page__item--last span,
.pagination .page__item--previous span,
.pagination .page__item--next span {
    display: none;
}

.pagination .page__item--first::before,
.pagination .page__item--last::before,
.pagination .page__item--previous::before,
.pagination .page__item--next::before {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    font-size: 50px;
    font-size: 5rem;
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    top: 4px;
    line-height: 20px;
    text-indent: -21px;
    width: 10px;
}

.pagination .page__item--first.disabled::before,
.pagination .page__item--last.disabled::before,
.pagination .page__item--previous.disabled::before,
.pagination .page__item--next.disabled::before {
    color: #cacaca;
}

.pagination .page__item--first,
.pagination .page__item--previous {
    margin: 0 10px 0 0;
}

.pagination .page__item--first::before,
.pagination .page__item--previous::before {
    content: '*';
    font-size: 3.1rem;
    left: 0;
    text-indent: -10px;
    top: 5px;
}

.pagination .page__item--first:hover::before,
.pagination .page__item--previous:hover::before {
    left: -10px;
}

.pagination .page__item--first.disabled:hover::before,
.pagination .page__item--previous.disabled:hover::before {
    left: 0;
}

.pagination .page__item--last,
.pagination .page__item--next {
    margin: 0 0 0 10px;
}

.pagination .page__item--last::before,
.pagination .page__item--next::before {
    content: '\j';
    right: 0;
}

.pagination .page__item--last:hover::before,
.pagination .page__item--next:hover::before {
    right: -10px;
}

.pagination .page__item--last.disabled:hover::before,
.pagination .page__item--next.disabled:hover::before {
    right: 0;
}

.pagination.mini-pager .page__item {}

.pagination.mini-pager .page__item--first,
.pagination.mini-pager .page__item--last,
.pagination.mini-pager .page__item--previous,
.pagination.mini-pager .page__item--next {
    width: auto;
}

.pagination.mini-pager .page__item--first span,
.pagination.mini-pager .page__item--last span,
.pagination.mini-pager .page__item--previous span,
.pagination.mini-pager .page__item--next span {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "sourcesans-bold";
    display: block;
}

.pagination.mini-pager .page__item--first a,
.pagination.mini-pager .page__item--last a,
.pagination.mini-pager .page__item--previous a,
.pagination.mini-pager .page__item--next a {
    width: auto;
}

.pagination.mini-pager .page__item--first::before,
.pagination.mini-pager .page__item--last::before,
.pagination.mini-pager .page__item--previous::before,
.pagination.mini-pager .page__item--next::before {
    top: 3px;
}

.pagination.mini-pager .page__item--previous::before {
    left: -20px;
    right: auto;
}

.pagination.mini-pager .page__item--previous:hover::before {
    left: -30px;
    right: auto;
}

.pagination.mini-pager .page__item--next::before {
    right: -20px;
    left: auto;
}

.pagination.mini-pager .page__item--next:hover::before {
    right: -30px;
    left: auto;
}

.pagination.mini-pager .page__item--first {
    margin-right: 40px;
    display: inline-block;
}

.pagination.mini-pager .page__item--first::before {
    content: none;
}

.pagination.mini-pager .page__item--first span {
    font-family: sourcesans-regular;
    padding-top: 2px;
}

.pagination.mini-pager .page__item--last {
    margin-left: 40px;
    display: inline-block;
}

.pagination.mini-pager .page__item--last::before {
    content: none;
}

.pagination.mini-pager .page__item--last span {
    font-family: sourcesans-regular;
    padding-top: 2px;
}

.pagination.mini-pager .page__item--previous+.page__item--last {
    margin-left: 0px;
}

.pagination.mini-pager .page__item--first+.page__item--next {
    margin-left: -30px;
}

main .form-type-search,
.form-composite .fieldset-wrapper .webform-options-display-two-columns,
.form-composite .fieldset-wrapper .webform-options-display-three-columns {
    clear: both;
}

main .form-type-search:before,
.form-composite .fieldset-wrapper .webform-options-display-two-columns:before,
.form-composite .fieldset-wrapper .webform-options-display-three-columns:before,
main .form-type-search:after,
.form-composite .fieldset-wrapper .webform-options-display-two-columns:after,
.form-composite .fieldset-wrapper .webform-options-display-three-columns:after {
    content: "";
    display: table;
}

main .form-type-search:after,
.form-composite .fieldset-wrapper .webform-options-display-two-columns:after,
.form-composite .fieldset-wrapper .webform-options-display-three-columns:after {
    clear: both;
}

.contact-form {
    max-width: 1140px;
    margin: 0 auto 30px;
}

@media only screen and (max-width:1140px) {
    .contact-form {
        margin: 0 5% 30px;
    }
}

.form-control {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -khtml-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #0855a0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #0855a0;
    height: 35px;
    padding: 5px;
    min-width: 30px;
}

.form-control:focus {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -khtml-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background: #f8f8f8;
    border-bottom: 1px solid #000000;
}

.input-group-addon {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #0855a0;
}

.filter-wrapper {
    background-color: transparent;
    border: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -khtml-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.form-required:after {
    float: right;
    margin: 5px 0 0 5px;
}

.select-wrapper:after {
    color: #0855a0;
}

.form-wrapper label,
.form-item label {
    font-family: "opensans-semibold";
    font-weight: normal;
    font-size: 10px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 0;
    position: relative;
    display: block;
}

.view-filters .form-wrapper label,
.view-filters .form-item label {
    margin-bottom: 5px;
    bottom: -5px;
}

.form-composite legend span.visually-hidden {
    padding: 0;
}

.form-composite .fieldset-wrapper {
    padding: 0 0 15px;
}

.form-composite .fieldset-wrapper .webform-options-display-two-columns,
.form-composite .fieldset-wrapper .webform-options-display-three-columns {
    display: block;
    float: left;
    margin: 5px 0 15px;
}

@supports (appearance:none) {
    .select-wrapper {
        position: relative;
    }

    .select-wrapper select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 25px;
    }

    .select-wrapper:before {
        content: "";
        display: block;
        right: 8px;
        bottom: calc(50% - 5px);
        width: 10px;
        height: 5px;
        position: absolute;
        pointer-events: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #0855a0 transparent transparent transparent;
    }
}

@supports (-webkit-appearance:none) {
    .select-wrapper {
        position: relative;
    }

    .select-wrapper select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 25px;
    }

    .select-wrapper:before {
        content: "";
        display: block;
        right: 8px;
        bottom: calc(50% - 5px);
        width: 10px;
        height: 5px;
        position: absolute;
        pointer-events: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #0855a0 transparent transparent transparent;
    }
}

@supports (-moz-appearance:none) {
    .select-wrapper {
        position: relative;
    }

    .select-wrapper select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 25px;
    }

    .select-wrapper:before {
        content: "";
        display: block;
        right: 8px;
        bottom: calc(50% - 5px);
        width: 10px;
        height: 5px;
        position: absolute;
        pointer-events: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #0855a0 transparent transparent transparent;
    }
}

@supports (appearance:none) {

    input[type=checkbox],
    input[type=radio],
    input[type=checkbox]#edit-delete {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        top: 3px;
        margin-right: 0.25em;
        padding: 0;
        background: #fff;
        border: 1px solid #B5B5B5;
        width: 16px !important;
        height: 16px !important;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: background 0.5s ease;
        outline: none;
    }

    input[type=checkbox]#edit-delete {
        margin-bottom: 0;
    }

    input[type=radio] {
        border-radius: 50%;
    }

    input[type=checkbox]:hover,
    input[type=checkbox]:focus,
    input[type=radio]:hover,
    input[type=radio]:focus {
        border-color: #000000;
        cursor: pointer;
    }

    input[type=checkbox]#edit-delete:hover,
    input[type=checkbox]#edit-delete:focus {
        border-color: #D01616;
        cursor: pointer;
    }

    input[type=checkbox]:checked,
    input[type=checkbox]:disabled:checked,
    input[type=radio]:checked,
    input[type=radio]:disabled:checked {
        background: #0855a0;
        box-shadow: inset 0px 0px 0px 3px #fff;
    }

    input[type=checkbox]#edit-delete:checked,
    input[type=checkbox]#edit-delete:disabled:checked {
        background: #D01616;
        box-shadow: inset 0px 0px 0px 3px #fff;
    }

    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        opacity: 0.5;
        background: #E2E2E2;
    }

    input[type=checkbox]#edit-delete:disabled {
        opacity: 0.5;
        background: #E88181;
    }

    input[type=checkbox]:disabled:hover {
        border-color: #B5B5B5;
        cursor: default;
    }

    input[type=checkbox]:disabled:hover,
    input[type=radio]:disabled:hover {
        border-color: #B5B5B5;
        cursor: default;
    }
}

@supports (-webkit-appearance:none) {

    input[type=checkbox],
    input[type=radio],
    input[type=checkbox]#edit-delete {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        top: 3px;
        margin-right: 0.25em;
        padding: 0;
        background: #fff;
        border: 1px solid #B5B5B5;
        width: 16px !important;
        height: 16px !important;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: background 0.5s ease;
        outline: none;
    }

    input[type=checkbox]#edit-delete {
        margin-bottom: 0;
    }

    input[type=radio] {
        border-radius: 50%;
    }

    input[type=checkbox]:hover,
    input[type=checkbox]:focus,
    input[type=radio]:hover,
    input[type=radio]:focus {
        border-color: #000000;
        cursor: pointer;
    }

    input[type=checkbox]#edit-delete:hover,
    input[type=checkbox]#edit-delete:focus {
        border-color: #D01616;
        cursor: pointer;
    }

    input[type=checkbox]:checked,
    input[type=checkbox]:disabled:checked,
    input[type=radio]:checked,
    input[type=radio]:disabled:checked {
        background: #0855a0;
        box-shadow: inset 0px 0px 0px 3px #fff;
    }

    input[type=checkbox]#edit-delete:checked,
    input[type=checkbox]#edit-delete:disabled:checked {
        background: #D01616;
        box-shadow: inset 0px 0px 0px 3px #fff;
    }

    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        opacity: 0.5;
        background: #E2E2E2;
    }

    input[type=checkbox]#edit-delete:disabled {
        opacity: 0.5;
        background: #E88181;
    }

    input[type=checkbox]:disabled:hover {
        border-color: #B5B5B5;
        cursor: default;
    }

    input[type=checkbox]:disabled:hover,
    input[type=radio]:disabled:hover {
        border-color: #B5B5B5;
        cursor: default;
    }
}

@supports (-moz-appearance:none) {

    input[type=checkbox],
    input[type=radio],
    input[type=checkbox]#edit-delete {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        top: 3px;
        margin-right: 0.25em;
        padding: 0;
        background: #fff;
        border: 1px solid #B5B5B5;
        width: 16px !important;
        height: 16px !important;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: background 0.5s ease;
        outline: none;
    }

    input[type=checkbox]#edit-delete {
        margin-bottom: 0;
    }

    input[type=radio] {
        border-radius: 50%;
    }

    input[type=checkbox]:hover,
    input[type=checkbox]:focus,
    input[type=radio]:hover,
    input[type=radio]:focus {
        border-color: #000000;
        cursor: pointer;
    }

    input[type=checkbox]#edit-delete:hover,
    input[type=checkbox]#edit-delete:focus {
        border-color: #D01616;
        cursor: pointer;
    }

    input[type=checkbox]:checked,
    input[type=checkbox]:disabled:checked,
    input[type=radio]:checked,
    input[type=radio]:disabled:checked {
        background: #0855a0;
        box-shadow: inset 0px 0px 0px 3px #fff;
    }

    input[type=checkbox]#edit-delete:checked,
    input[type=checkbox]#edit-delete:disabled:checked {
        background: #D01616;
        box-shadow: inset 0px 0px 0px 3px #fff;
    }

    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        opacity: 0.5;
        background: #E2E2E2;
    }

    input[type=checkbox]#edit-delete:disabled {
        opacity: 0.5;
        background: #E88181;
    }

    input[type=checkbox]:disabled:hover {
        border-color: #B5B5B5;
        cursor: default;
    }

    input[type=checkbox]:disabled:hover,
    input[type=radio]:disabled:hover {
        border-color: #B5B5B5;
        cursor: default;
    }
}

.radio label,
.checkbox label {
    padding: 6px 0 0 25px;
}

.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    margin-left: -25px;
}

.form-autocomplete .input-group {
    position: relative;
    width: 100%;
}

.form-autocomplete .input-group input {
    padding: 0 40px 0 0;
    width: 100%;
}

.form-autocomplete .input-group .input-group-addon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 40px;
    height: 100%;
    border: 0;
}

.form-autocomplete .input-group .input-group-addon .ajax-progress {
    top: calc(50% - 7px);
}

button.tabledrag-toggle-weight {
    float: right;
    margin: 0 0 5px;
}

.field-multiple-table {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.field-multiple-table>thead>tr>th,
.field-multiple-table>tbody>tr>th,
.field-multiple-table>tfoot>tr>th,
.field-multiple-table>thead>tr>td,
.field-multiple-table>tbody>tr>td,
.field-multiple-table>tfoot>tr>td {
    border: 1px solid #ddd;
}

.field-multiple-table>thead>tr>th,
.field-multiple-table>thead>tr>td {
    border-bottom-width: 2px;
}

.field-multiple-table tr.odd {
    background-color: #f9f9f9;
}

.has-warning .form-control,
.has-warning .form-control:focus,
.has-error .form-control,
.has-error .form-control:focus {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -khtml-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#comment-form {
    max-width: 1140px;
    margin: 0 auto 30px;
}

.indented {
    padding: 0 0 0 50px;
}

.button,
.btn-primary,
.btn,
.btn-default {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.button .icon,
.btn-primary .icon,
.btn .icon,
.btn-default .icon {
    margin-top: 0px;
    position: relative;
    top: 3px;
}

.button.icon-before .icon,
.btn-primary.icon-before .icon,
.btn.icon-before .icon,
.btn-default.icon-before .icon {
    margin-right: 7px;
}

.btn {
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    padding: 9px 12px 6px;
}

.btn.btn-lg {
    padding: 12px 16px 10px;
}

.btn.btn-lg.icon-before .icon {
    margin-right: 10px;
}

.btn.btn-sm {
    padding: 10px 10px 5px;
}

.btn.btn-sm.icon-before .icon {
    margin-right: 4px;
}

.btn.btn-xs {
    padding: 4px 5px 1px;
}

.btn.btn-xs.icon-before .icon {
    margin-right: 1px;
}

button+button {
    margin: 0 0 0 10px;
}

main .form-type-search .input-group {
    display: block;
}

main .form-type-search .input-group-btn {
    display: block;
    position: absolute;
    width: auto;
    top: -5px;
    left: 0;
    z-index: 10;
}

main .form-type-search .input-group-btn .btn {
    background: transparent;
    border: 0;
    color: #333333;
    padding: 9px 4px 6px;
}

main .form-type-search .input-group-btn .btn .glyphicon-search {
    font-size: 18px;
    font-size: 1.8rem;
}

main .form-type-search .form-search {
    display: block;
    float: right;
    width: 100%;
    padding: 0 0 0 40px;
    position: relative;
    z-index: 1;
}

.search-help-link {
    display: inline-block;
    margin-bottom: 15px;
}

input[type=radio],
input[type=checkbox] {
    margin: 0;
}

.form-required:after {
    float: none;
}

.form-required:after {
    float: right;
}

.form-required:after {
    background: url(/themes/custom/cernbase/images/required.svg) no-repeat center center/10px 7px;
    content: "";
    display: inline-block;
    line-height: 1;
    height: 7px;
    width: 10px;
    margin: 5px 0 0 5px;
    float: none;
}

.field--item {
    word-break: break-word;
}

.field--label {
    font-weight: bold;
    width: max-content;
}

.field--label-inline .field--label,
.field--label-inline .field--item,
.field--label-inline .field--items {
    display: inline-block;
}

.field--label-inline .field--label,
.field--label-inline>.field--item,
.field--label-inline .field--items {
    padding-right: 0.5em;
}

[dir="rtl"] .field--label-inline .field--label,
[dir="rtl"] .field--label-inline .field--items {
    padding-left: 0.5em;
    padding-right: 0;
    float: right;
}

.field--label-inline .field--label::after {
    content: ':';
}

.sidebar-left .block .form-group div:not(.vertical-boxes).shadow-block,
.sidebar-right .block .form-group div:not(.vertical-boxes).shadow-block {
    box-shadow: 0 1px 2px 0 #bfbfbf;
}

.sidebar-left .block .form-group div:not(.vertical-boxes) .view-content,
.sidebar-right .block .form-group div:not(.vertical-boxes) .view-content {
    padding: 15px;
}

.sidebar-left .block .form-group div:not(.vertical-boxes) .view-content .views-row,
.sidebar-right .block .form-group div:not(.vertical-boxes) .view-content .views-row {
    padding: 10px 15px;
}

.sidebar-left nav,
.sidebar-right nav {
    padding: 15px;
}

.sidebar-left nav.shadow-block,
.sidebar-right nav.shadow-block {
    box-shadow: 0 1px 2px 0 #bfbfbf;
}

.sidebar-left nav ul,
.sidebar-right nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-left nav ul>li,
.sidebar-right nav ul>li {
    display: block;
    font-family: "sourcesans-regular";
}

.sidebar-left nav ul>li a,
.sidebar-right nav ul>li a {
    display: block;
}

.sidebar-left nav ul>li a:hover,
.sidebar-left nav ul>li a:focus,
.sidebar-right nav ul>li a:hover,
.sidebar-right nav ul>li a:focus {
    text-decoration: none;
}

.sidebar-left nav ul>li a .caret,
.sidebar-right nav ul>li a .caret {
    font-size: 14px;
    font-size: 1.4rem;
    border: 0;
    width: 15px;
    height: 20px;
}

.sidebar-left nav ul>li a .caret::before,
.sidebar-right nav ul>li a .caret::before {
    -webkit-transition: all 0.6s ease-in-out 0s;
    -khtml-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    content: "p";
    display: block;
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
    font-size: 4rem;
    line-height: 20px;
    position: absolute;
}

.sidebar-left nav ul>li ul,
.sidebar-right nav ul>li ul {
    margin: 5px 0 0 10px;
}

.sidebar-left nav ul>li ul li,
.sidebar-right nav ul>li ul li {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "sourcesans-light";
    margin: 0;
    padding: 0;
}

.sidebar-left nav ul>li ul li a,
.sidebar-right nav ul>li ul li a {
    display: inline-block;
    padding: 5px 0 8px 20px;
    position: relative;
}

.sidebar-left nav ul>li ul li a:before,
.sidebar-right nav ul>li ul li a:before {
    -webkit-transform: rotate(270deg);
    -khtml-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod="auto expand");
    zoom: 1;
    -webkit-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
    -khtml-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
    -moz-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
    -ms-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
    -o-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
    transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
    font-size: 20px;
    font-size: 2rem;
    content: "q";
    float: left;
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    top: 1px;
    left: -6px;
    position: absolute;
}

.sidebar-left nav ul>li ul li a:after,
.sidebar-right nav ul>li ul li a:after {
    -webkit-transition: all 0.6s ease-in-out 0s;
    -khtml-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    background: transparent;
    border-bottom: 2px solid #f3a530;
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 3px;
    left: 0;
    margin: 0 0 0 20px;
    max-width: calc(100% - 20px);
}

.sidebar-left nav ul>li ul li a:hover,
.sidebar-left nav ul>li ul li a.is-active,
.sidebar-right nav ul>li ul li a:hover,
.sidebar-right nav ul>li ul li a.is-active {
    background: none;
}

.sidebar-left nav ul>li ul li a:hover:before,
.sidebar-left nav ul>li ul li a.is-active:before,
.sidebar-right nav ul>li ul li a:hover:before,
.sidebar-right nav ul>li ul li a.is-active:before {
    left: 2px;
    color: #f3a530;
}

.sidebar-left nav ul>li ul li a:hover:after,
.sidebar-left nav ul>li ul li a.is-active:after,
.sidebar-right nav ul>li ul li a:hover:after,
.sidebar-right nav ul>li ul li a.is-active:after {
    width: 100%;
}

.sidebar-left nav ul>li.menu-item--active-trail a,
.sidebar-right nav ul>li.menu-item--active-trail a {
    color: #f3a530;
}

.sidebar-left nav ul>li.menu-item--active-trail a .caret::before,
.sidebar-right nav ul>li.menu-item--active-trail a .caret::before {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod="auto expand");
    zoom: 1;
}

.sidebar-left nav ul>li.menu-item--active-trail .dropdown-menu,
.sidebar-right nav ul>li.menu-item--active-trail .dropdown-menu {
    display: block;
}

.sidebar-left nav ul>li.menu-item--active-trail .dropdown-menu a,
.sidebar-right nav ul>li.menu-item--active-trail .dropdown-menu a {
    color: #ffffff;
}

.sidebar-left nav ul>li.open a .caret::before,
.sidebar-right nav ul>li.open a .caret::before {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod="auto expand");
    zoom: 1;
}

.sidebar-left nav ul .dropdown-menu,
.sidebar-right nav ul .dropdown-menu {
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -khtml-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    position: static;
    float: none;
    padding: 0;
    font-size: 14px;
    text-align: left;
    background-color: transparent;
    border: 0;
}

.sidebar-left nav ul .dropdown-menu>li a,
.sidebar-right nav ul .dropdown-menu>li a {
    white-space: normal;
}

.sidebar-left nav ul .dropdown-menu>li a:hover,
.sidebar-right nav ul .dropdown-menu>li a:hover {
    color: inherit;
}

.sidebar-left nav ul .dropdown-backdrop,
.sidebar-right nav ul .dropdown-backdrop {
    display: none;
}

@media only screen and (max-width:1023px) {

    .sidebar-left nav ul>li,
    .sidebar-right nav ul>li {
        font-size: 16px;
        font-size: 1.6rem;
        margin: 0 0 15px;
    }

    .sidebar-left nav ul>li ul li a,
    .sidebar-right nav ul>li ul li a {
        font-size: 14px;
        font-size: 1.4rem;
    }
}

.progress {
    -webkit-box-shadow: 0 0 0 0;
    -khtml-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    -ms-box-shadow: 0 0 0 0;
    -o-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #ddd;
    margin-bottom: 15px;
    overflow: hidden;
    height: auto;
}

.progress.progress-lg {
    height: 1.5rem;
}

.progress.progress-md {
    height: 1rem;
}

.progress.progress-sm {
    height: 0.625rem;
}

.progress.progress-xs {
    height: 0.25rem;
}

.progress-wrapper {
    position: relative;
    padding-top: 15px;
}

.progress-inverse {
    background-color: #555555;
}

.progress-heading {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 2px;
    padding: 0;
}

.progress-bar {
    -webkit-box-shadow: 0 0 0 0;
    -khtml-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    -ms-box-shadow: 0 0 0 0;
    -o-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: width 0.6s ease;
    -khtml-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
    height: 100%;
    padding: 4px 0 3px;
}

.progress-bar.bg-primary {
    background: #0855a0;
}

.progress-bar.bg-green {
    background: #5cb85c;
}

.progress-bar.bg-info {
    background: #5bc0de;
}

.progress-bar.bg-yellow {
    background: #f0ad4e;
}

.progress-bar.bg-warning {
    background: #d9534f;
}

.progress-bar.bg-purple {
    background: #801096;
}

.progress-text {
    margin-bottom: 0;
}

.progress-text .mark {
    float: left;
    width: 50%;
    background: transparent;
}

.progress-text .mark.right {
    text-align: right;
}

.progress-tooltip {
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: .25rem .375rem;
    line-height: 1;
    font-size: 12px;
    position: relative;
    bottom: 8px;
    border-radius: 3px;
    margin-left: -15px;
}

.progress-tooltip:after {
    top: 100%;
    left: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 51, 51, 0);
    border-top-color: rgba(0, 0, 0, 0.8);
    border-width: 5px;
}

.progress-label {
    display: inline-block;
    color: #555555;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    font-size: 1.2rem;
}

.progress-percentage {
    display: inline-block;
    color: #555555;
    font-size: 12px;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.accordion-cern .panel {
    border: 0;
    margin: 37px 0 !important;
    position: relative;
    padding-bottom: 22px;
}

.accordion-cern .panel:after {
    content: "";
    background: #c1c1c1;
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.accordion-cern .panel-heading {
    font-size: 18px;
    font-size: 1.8rem;
    background: none;
    border: 0;
    padding: 0;
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 25px;
    width: 100%;
    display: inline-block;
}

.accordion-cern .panel-heading h1,
.accordion-cern .panel-heading h2,
.accordion-cern .panel-heading h3,
.accordion-cern .panel-heading h4 {
    margin: 0;
    padding: 0;
}

.accordion-cern .panel-heading a {
    font-size: 18px;
    font-size: 1.8rem;
    color: #222222;
    display: block;
    padding: 0;
    margin: 0;
    padding: 0 40px 0 0;
    border-bottom: 0;
    position: relative;
    font-weight: 500;
}

.accordion-cern .panel-heading a:hover,
.accordion-cern .panel-heading a:focus,
.accordion-cern .panel-heading a:selected {
    color: #222222;
    text-decoration: none;
}

.accordion-cern .panel-heading a:after {
    content: "+";
    width: 30px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-size: 3rem;
    font-family: 'sourcesans-regular';
    line-height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 100;
    color: #222222;
}

.accordion-cern .panel-heading a.is-open:after {
    content: "-";
}

.accordion-cern .panel-collapse {
    margin: 0;
    color: #555;
}

.accordion-cern .panel-collapse h1,
.accordion-cern .panel-collapse h2,
.accordion-cern .panel-collapse h3,
.accordion-cern .panel-collapse h4,
.accordion-cern .panel-collapse h5 {
    font-size: 1.6rem;
    font-weight: bold;
}

.accordion-cern .panel-collapse.in {
    border-bottom: 0;
}

.accordion-cern .panel-collapse .panel-body {
    border-top-color: transparent !important;
    padding: 0 !important;
    margin: 5px 0;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 22px;
}

.accordion-cern .panel-collapse .panel-body p:last-child {
    margin: 0;
}

.block-social-sharing-block {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 499;
}

.block-social-sharing-block .social-media-sharing ul {
    display: block;
}

.block-social-sharing-block .social-media-sharing ul li {
    display: table;
    margin-bottom: 5px;
}

.user-logged-in .block-social-sharing-block {
    top: 280px;
}

.social-media-sharing ul li a {
    display: block;
}

.social-media-sharing ul li a:hover {
    text-decoration: none;
}

.social-media-sharing ul li a.share:after {
    width: 45px;
    height: 45px;
    display: block;
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 4.5rem;
    line-height: 4.5rem;
}

.social-media-sharing ul li a.share.facebook-share:after {
    content: 'u';
    background: #3b5998;
    font-size: 4rem;
}

.social-media-sharing ul li a.share.facebook-msg:after {
    content: unset;
    background: #3b5998;
}

.social-media-sharing ul li a.share.linkedin:after {
    content: 'L';
    background: #0077b5;
}

.social-media-sharing ul li a.share.twitter:after {
    content: 'V';
    background: #1da1f2;
}

.social-media-sharing ul li a.share.pinterest:after {
    content: unset;
    background: #cb2027;
}

.social-media-sharing ul li a.share.google-plus:after {
    content: '2';
    background: #e7725d;
}

.social-media-sharing ul li a.share.email:after {
    content: 'P';
    background: #3c3c3c;
    text-indent: -5px;
}

.social-media-sharing ul li a img {
    display: none;
}

@media only screen and (max-width:1071px) {
    .block-social-sharing-block {
        position: static;
        text-align: center;
        margin-top: 3rem;
        border-top: 1px solid #eee;
        padding-top: 20px;
    }

    .block-social-sharing-block .social-media-sharing ul {
        display: inline-flex;
    }

    .block-social-sharing-block .social-media-sharing ul li {
        display: inline;
        margin-bottom: 0px;
        margin-right: 0px;
    }

    .block-social-sharing-block .social-media-sharing ul li a.facebook-share:after,
    .block-social-sharing-block .social-media-sharing ul li a.linkedin:after,
    .block-social-sharing-block .social-media-sharing ul li a.twitter:after,
    .block-social-sharing-block .social-media-sharing ul li a.google-plus:after,
    .block-social-sharing-block .social-media-sharing ul li a.email:after {
        display: block;
        margin-right: 10px;
    }
}